<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
            background-color: bisque;
        }
    </style>
</head>
<body>
        <div class='flash'>
                {% for message in messages %}

                <div class="alert alert-danger">

                    <p>{{ message }}</p>

                </div>
                {% endfor %}
            </div>

                <form action='/create/' method='post' id="quotes">
                    {% csrf_token %}
                    <div class='form-group'>
                        Destination: <input type='text' class='form-control' name='destination' /><br>
                        Start Date: <input type='date' class='form-control' name='start' />
                        End Date: <input type='date' class='form-control' name='end' />
                        Itinerary: <input type='text' class='form-control' name='plan' /> 
                    </div>
                    <input type='submit' class='btn btn-primary' value='Submit' />
                </form>
                <br>
                <a href="/travels">Go Back</a>
</body>
</html>